[submodule "atomic_hashtable"]
	path = atomic_hashtable
	url = https://github.com/Taymindis/atomic_hashtable.git
[submodule "binary_array"]
	path = binary_array
	url = https://github.com/Taymindis/binary_array
